{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
<header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    
<a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

{{! The main content area on the homepage }}
<main id="content" class="content" role="main">
    <link rel="stylesheet" type="text/css" href="{{asset "css/bootstrap.min.css"}}"/>
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/font-awesome/css/font-awesome.min.css"}}"/>
    <link rel="stylesheet" type="text/css" href="{{asset "slick-1.5.7/slick/slick.css"}}"/>
    <link rel="stylesheet" type="text/css" href="{{asset "slick-1.5.7/slick/slick-theme.css"}}"/>
    <link rel="stylesheet" type="text/css" href="{{asset "lightbox/dist/css/lightbox.css"}}" />

    <!--FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Tangerine:400,700' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="{{asset "/js/bootstrap.min.js"}}"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="{{asset "slick-1.5.7/slick/slick.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/jquery.rwdImageMaps.js"}}"></script>

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

    {{! Everything else gets inserted here }}

    <section id = "about">
      <br><br><br>
      <div class = "row">
        <div class = "col-md-12">
          <span style="font-family: Amatic SC; font-weight: 400; font-size: 60px; color: #9F3B2E"> ERNEST HEBERT'S GUIDE TO THE </span><br>
          <span style="font-family: Amatic SC; font-weight: 700; font-size: 100px; color: #653131"> DARBY CHRONICLES </span>
        </div>
        <!-- ABOUT TEXT -->
        <div class = "row">
          <div class = "col-md-2"></div>
          <div class = "col-md-8">
            <div class="about_text" style = "font-family: Garamond; font-size: 18px; color: #262120"> 
              I never thought I'd live long enough to see the 21st Century, but here I am more than a decade into this loony tunes arcade of a century--and I love it. It's grim, fun, despairing, promising, hallucinatory. All at the same time. I'm up hoping that sharing this website will me and anyone who visits little closer ... to ... what? I'm looking for God, I'm looking for a clue to save our planet, I'm looking for a metaphor, call it recycling reality, to explain my brief visit to this earthly realm. 
              <br><br>
              What do I, this mad septuagenarian, have in his creative life to leave the world? There's my historical novel, THE OLD AMERICAN, and my two crazy sci-fi books, MAD BOYS and I LOVE U, my only consciously autobiographical novel, NEVER BACK DOWN, and a bunch of poems that I call The Contrarian Voice.
              <br><br>
              Through it all are the seven novels of The Darby Chronicles: Life, Death and Laughs in a Small Town.
              <br><br>
              For me the small town is a metaphor for a nurturing environment greater than the family, the job, the church, the school, and the political unit. The equivalent of the small town could be your urban neighborhood, your army platoon, your Facebook friends, your co-conspirators. For me it's Darby, my imaginary New England village. It has rich people, poor people, and everybody in between; farms, houses, trailers, mansions, a pond, a river, and a land trust. I've tried to show the good, the bad, the ugly, the far side and the dark matter.
            </div>
          </div>
        </div>
        <br>
        <img src="{{asset "images/leaf.png"}}" />
        <br><br>
      </div>
    </section>

    <section id = "map">
      <br><br><br>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <span style="font-family: Amatic SC; font-weight: 700; font-size: 75px; color: #5A5245"> MAP </span><br>
          <span style = "font-family: Garamond; font-size: 22px; color: #56513C"> 
            Click to explore the town of Darby.
          </span>
          <img src="assets/images/Darby-map2.png" alt="" usemap="#Map" />
          <map name="Map" id="Map">

            <area id="centerDarby" data-title="Center Darby" data-text="There's a story that appears in Darby Doomsday, the video game, that explains the connection between Parade Road and Lafayette Square in Center Darby." data-toggle="modal" data-target="#master_modal" shape="poly" coords="659,745,638,799,881,793,875,736" />

            <area id="darbyDepot" data-title="Darby Depot" data-text="Many towns in New England have a section like Darby Depot, where the poor people live." data-toggle="modal" data-target="#master_modal" shape="poly" coords="830,479,833,527,1019,530,1016,479" />

            <area id="riverDarby" data-title="River Darby" data-text="Used to be if you drove your horse and buggy along River Road in Darby you'd pass farm after farm, the landscape in the summer looking almost midwestern from the sight of cornfields." data-toggle="modal" data-target="#master_modal" shape="poly" coords="422,949,422,1000,608,1000,608,949" />

            <area id="upperDarby" data-title="Upper Darby" data-text="The rich people of Darby like the high lands." data-toggle="modal" data-target="#master_modal" shape="poly" coords="1097,1099,1097,1159,1280,1150,1283,1102" />

            <area id="river" data-title="Connecticut River" data-text="At one time the Connecticut River featured the longest log drive in the world, or so some people claim." data-toggle="modal" data-target="#master_modal" shape="poly" coords="458,766,521,814,605,724,560,671" />

            <area id="trustland1" data-title="Trust Lands" data-text="The land conservancy that I invented for the town of Darby--the Salmon Trust--represents an idea that I believe in." data-toggle="modal" data-target="#master_modal" shape="poly" coords="323,1174,320,1213,440,1210,434,1174" />

            <area id="trustland2" data-title="Trust Lands" data-text="The land conservancy that I invented for the town of Darby--the Salmon Trust--represents an idea that I believe in." data-toggle="modal" data-target="#master_modal" shape="poly" coords="1175,608,1172,650,1289,650,1286,614" />

            <area id="trustland3" data-title="Trust Lands" data-text="The land conservancy that I invented for the town of Darby--the Salmon Trust--represents an idea that I believe in." data-toggle="modal" data-target="#master_modal" shape="poly" coords="1034,901,1031,937,1145,937,1138,904" />

            <area id="trustland4" data-title="Trust Lands" data-text="The land conservancy that I invented for the town of Darby--the Salmon Trust--represents an idea that I believe in." data-toggle="modal" data-target="#master_modal" shape="poly" coords="746,1186,749,1225,866,1222,866,1192" />

            <area id="basketville" data-title="Site of Former Basketville Sign and Jordan Shacks" data-text="Domain of Shacks with Sign is a part of Darby that gets destroyed in A Little More Than and destroyed again in its reincarnated version as a trailer park in Howard Elman's Farewell." data-toggle="modal" data-target="#master_modal" shape="poly" coords="309,219,309,313,495,307,483,210,312,221" />

            <area id="cooty" data-title="Original Site of Cooty's Cabin" data-text="Cooty's 12-by-16 foot cabin is based on one a built back in the days of the 1970s counter-culture." data-toggle="modal" data-target="#master_modal" shape="poly" coords="836,117,840,192,1038,183,1031,104,839,119" />

            <area id="folly" alt="" data-title="Abare's Folly Mountain" data-text="To create Abare's Folly I merged Mount Monadnock in Jaffrey, New Hampshire, with Mount Ascutney, and parked it about where you would find Walpole, New Hampshire." data-toggle="modal" data-target="#master_modal" shape="poly" coords="864,231,867,338,1170,320,1155,203,866,233" />

            <area id="meadow" alt="" data-title="Great Meadow Village" data-text="Look at a trailer park; now consider how corporations often name their entities without regard to the way language resonates." data-toggle="modal" data-target="#master_modal" shape="poly" coords="642,254,654,385,750,376,735,239,643, 255" />

            <area id="plc" alt="" data-title="PLC Project" data-text="One of my main concerns in my fiction is the relentlessness of change." data-toggle="modal" data-target="#master_modal" shape="poly" coords="487,637,484,539,687,535,685,634,489,638" />

            <area id="cutter" alt="" data-title="Cutter Place" data-text="For Zoe Cutter the goal was to completely renovate the house but keep its character. But for her own personal pleasure it was not the property that thrilled her. It was the view." data-toggle="modal" data-target="#master_modal" shape="poly" coords="744,623,746,664,915,659,909,622,746,625" />

            <area id="elman" alt="" data-title="Elman's Place" data-text="It's 1945. Private First Class Howard Elman returns from the war, and with the help of the GI Bill, modest savings, and a bank loan at reasonable rates, he buys a worn out farm in the town of Darby, New Hampshire." data-toggle="modal" data-target="#master_modal" shape="poly" coords="734,662,734,700,897,695,891,659,735,664" />

            <area id="ike" alt="" data-title="Ike's Barn" data-text="For me Ike's Auction Barn is not so much a representation of rural architecture as it is one of those mysterious places of mind that keeps shape shifting." data-toggle="modal" data-target="#master_modal" shape="poly" coords="975,587,978,670,1110,658,1106,571,976,589" />

            <area id="pond" alt="" data-title="Grace Pond" data-text="There's a poem in this essay I wrote about the origins of fictional Grace Pond." data-toggle="modal" data-target="#master_modal" shape="poly" coords="1160,688,1172,856,1317,861,1306,681,1162,690" />

            <area id="mccurtin" alt="" data-title="McCurtin Place" data-text="I didn't consciously devise my books this way, but the living places I've created in the Darby Chronicles reflect mainly male thinking, while in my real world women determine the look and feel of living spaces." data-toggle="modal" data-target="#master_modal" shape="poly" coords="893,786,898,862,1089,854,1081,768,893,786" />

            <area id="townhall" alt="" data-title="Town Hall" data-text="People build structures to signify their identities, but the structures, often after the demise of their creators, impact future generations in ways that shape who they are. Architecture matters." data-toggle="modal" data-target="#master_modal" shape="poly" coords="599,897,600,960,723,961,718,897,599,897" />

            <area id="dorne" alt="" data-title="Dorne Place" data-text="I guess I'm a romantic fool, but it always makes me a little sad to see a suburban-style house and yard in rural parts of New Hampshire. In my view, the landscape dies a little." data-toggle="modal" data-target="#master_modal" shape="poly" coords="284,755,284,794,404,792,405,759,285,758" />

            <area id="farm" alt="" data-title="Hillary Farm" data-text="The Avalon Hillary Farm plays a big role in Whisper My Name. One of the true life dramas that inspired that book was a proposal by an outside firm to build a pulp mill on farmland in Walpole, New Hampshire, back in the 1970s." data-toggle="modal" data-target="#master_modal" shape="poly" coords="157,840,157,877,271,876,270,838,157,842" />

            <area id="elm" alt="" data-title="Elm Stump" data-text="Howard Elman claims that he named himself after a particular elm tree. He half-believes his manufactured story, and when the tree is mysteriously cut down Howard's reaction sets the plot in motion for Howard Elman's Farewell." data-toggle="modal" data-target="#master_modal" shape="poly" coords="1155,930,1159,1001,1273,998,1267,920,1157,931" />

            <area id="forest" alt="" data-title="Primeval Forest" data-text="When I learned that there was a small slice of primeval forest in the nearby town of Stoddard, New Hampshire, and a state expert was going to give a tour, I jumped at the chance. I wanted to see what real estate looked like before it became real estate." data-toggle="modal" data-target="#master_modal" shape="poly" coords="999,960,1000,1042,1147,1043,1143,960,999,960" />

            <area id="treehouse" alt="" data-title="Tree House" data-text="After reading Swiss Family Robinson I decided I would build a tree house and live in it forever, but of course I never did. Except in my imaginary tree house that appears in the books of Darby Chronicles." data-toggle="modal" data-target="#master_modal" shape="poly" coords="1186,1038,1186,1108,1305,1107,1305,1036,1188,1038" />

            <area id="latour" alt="" data-title="Latour's Spoonwood Cabin" data-text="I loved creating this little home in the woods along with its back story of hippie idealism and eroticism and, in the end, failed dreams." data-toggle="modal" data-target="#master_modal" shape="poly" coords="785,1109,788,1182,993,1182,984,1104,785,1109" />

            <area id="birch" alt="" data-title="Birch's Ledges" data-text="High places scare me. So it's fear that led me to create the fateful ledges on the Trust lands of Upper Darby." data-toggle="modal" data-target="#master_modal" shape="poly" coords="830,1230,831,1327,1002,1327,999,1224,833,1231" />

            <area id="salmon" alt="" data-title="Salmon Estate/Cooty's Cabin" data-text="The Salmon house (called The Manse in Howard Elman's Farewell) is based on the Cabot/Pierce Pumpelly Hill mansion in Dublin, NH." data-toggle="modal" data-target="#master_modal" shape="poly" coords="1107,1167,1115,1326,1251,1326,1241,1170,1107,1167" />

            <area id="turner" alt="" data-title="Turner Jordyn's Place" data-text="The Turner Jordan place, which appears in Howard Elman's Farewell, is based on one of the nicest properties in my town of Westmoreland, NH." data-toggle="modal" data-target="#master_modal" shape="poly" coords="423,1029,428,1133,545,1140,543,1034,425,1031" />

            <area id="sandbank" alt="" data-title="Sandbank" data-text="I was in grade school when I first heard the phrase "glacial moraine"; it made me smile. I was thinking of my mother's superb lemon meringue pie." data-toggle="modal" data-target="#master_modal" shape="poly" coords="251,999,252,1086,353,1084,353,994,253,998" />
          </map>
        </div>
      </div>
    </section> <!-- END MAP -->

    <!-- MODAL -->
    <div class="modal" id="master_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">...</h4>
          </div>
          <div class="modal-body">
            ...
          </div>
          <!-- <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div> -->
        </div>
      </div>
    </div>

    <section id = "books">
      <br><br><br>
      <span style="font-family: Amatic SC; font-weight: 700; font-size: 75px; color: #5A5245"> BOOKS </span>
      <br>
      <div class="books">
        <div><a href="http://www.amazon.com/Dogs-March-Darby-Chronicles-Book-ebook/dp/B00MHT561K" target="_blank"><img src= "{{asset "images/books/book1.jpg"}}"></a><br><p class="book_cap">“His life had come to this: save a few deer from the jaws of dogs. He was a small man sent to perform a small task.”</p></div>

        <div><a href="http://www.amazon.com/Little-More-Than-Darby-Chronicles/dp/1611686237" target="_blank"><img src={{asset "images/books/book2.jpg"}}></a><br><p class="book_cap">Ollie Jordan: "Everybody's got an idiot chained to him, only difference is, mine's here to see"</p></div>

        <div><a href="http://www.amazon.com/Whisper-My-Name-Darby-Chronicles/dp/1611686253" target="_blank"><img src={{asset "images/books/book3.jpg"}}></a><br><p class="book_cap">The stakes are high when a big company proposes a regional shopping mall in Darby.</p></div>

        <div><a href="http://www.amazon.com/Passion-Estelle-Jordan-Darby-Chronicles/dp/161168627X" target="_blank"><img src={{asset "images/books/book4.jpg"}}></a><br><p class="book_cap">Maybe the way to save yourself is to save someone else.</p></div>
        <div><a href="http://www.amazon.com/Live-Free-Die-Darby-Chronicles/dp/1611687063" target="_blank"><img src={{asset "images/books/book5.jpg"}}></a><br><p class="book_cap">Long drop, no net when the trash man's son and the squire's daughter fall in love.</p></div>

        <div><a href="http://www.amazon.com/Spoonwood-Darby-Chronicles-Ernest-Hebert/dp/1611686296" target="_blank"><img src={{asset "images/books/book6.jpg"}}></a><br><p class="book_cap">How a boy saved his dad and brought together warring families.</p></div>

        <div><a href="http://www.amazon.com/Howard-Elmans-Farewell-Darby-Chronicles/dp/1611685419" target="_blank"><img src={{asset "images/books/book7.jpg"}}></a><br><p class="book_cap">Suppose all a man has left is his imagination. Then what?</p></div>
      </div>
      <br>
    </section>

    <section id = "gallery">
      <br><br><br>
      <span style="font-family: Amatic SC; font-weight: 700; font-size: 75px; color: #5A5245"> GALLERY </span>
      <br>
      <div class = "row">
          <div class = "col-md-2"></div>
          <div class = "col-md-8">
            <div class="gallery_text" align = "left" style = "font-family: Garamond; font-size: 18px; color: #262120">
              Welcome to the Exposition of the Uncanny, which is my private name for my artwork in this website.
              <br><br>
              When I wrote scenes in the novels of the Darby Chronicles my head would fill with images. These images were never complete, nor even in many cases realistic. They were cartoons, sometimes in color, sometimes in black and white. Or they were like pictures in dreams, and they rarely found their way into the writing. My goal in this website to give the visitor some insight into the uncanny world of Darby as I imagined it and continue to imagine it.
              <br><br>
              By the way, the phrase, Exposition of the Uncanny, comes from Mad Boys, another of my novels (not a Darby book).
            </div>
          </div>
        </div><br>
      <object width="500" height="375"> <param name="flashvars" value="offsite=true&lang=en-us&page_show_url=%2Fphotos%2F54024312%40N06%2Fsets%2F72157658655714278%2Fshow%2F&page_show_back_url=%2Fphotos%2F54024312%40N06%2Fsets%2F72157658655714278%2F&set_id=72157658655714278&jump_to="></param> <param name="movie" value="https://www.flickr.com/apps/slideshow/show.swf?v=237555616"></param> <param name="allowFullScreen" value="true"></param><embed type="application/x-shockwave-flash" src="https://www.flickr.com/apps/slideshow/show.swf?v=237555616" allowFullScreen="true" flashvars="offsite=true&lang=en-us&page_show_url=%2Fphotos%2F54024312%40N06%2Fsets%2F72157658655714278%2Fshow%2F&page_show_back_url=%2Fphotos%2F54024312%40N06%2Fsets%2F72157658655714278%2F&set_id=72157658655714278&jump_to=" width="500" height="375"></embed></object>
      <br><br>
    </section>

    <section id = "blog">
      <br><br><br>
      <span style="font-family: Amatic SC; font-weight: 700; font-size: 75px; color: #5A5245; text-align: center"> BLOG </span>
      <br><br>
        <div class = "col-md-2"></div>
        <div class = "col-md-8">
            <span style = "font-family: Garamond; font-size: 18px; color: #262120"> 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed ultricies orci. Pellentesque fringilla venenatis ante, a efficitur est. Quisque sagittis quam eros, eu varius lectus porttitor vel. <br><br>
            </span>
        </div>
      </div>

      <div class="row">
        <div class = "col-md-2"></div>
        <div class = "col-md-8 blog-posts">
          {{! The tag below includes the post loop - partials/loop.hbs }}
          {{> "loop"}}
        </div>
        <div class = "col-md-2"></div>
      </div>
    </section>

    <!--JS LINKS-->
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
    <script type="text/javascript" src="{{asset "lightbox/dist/js/lightbox.js"}}"></script>
    
    <section id = "bottom">
      <br><a href="#about" style="font-family: Amatic SC; font-weight: 700; font-size: 50px; color: #5A5245"> BACK TO TOP </a><br><br><br>
    </section>

</main>
